<div>
    <% users.forEach (function (user) { %>
        <a href="/profile/<%= user.id %>">
            <div>ID:</div>
            <div>
                <%= user.id %>
            </div>
            <div>email:</div>
            <div>
                <%= user.email %>
            </div>
        </a> <hr>
        <% }); %>

</div>